@{
    Layout = "_LayoutDeslogado";
    ViewData["title"] = "Login";
}

<p>Você não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">Click aqui para voltar para Home.</a></p>
