@{
    ViewData["title"] = "Configuração apagar o contato";
}

<div class="text-center">
    <h3>Realmente deseja pagar o contato(a) (João Victor)</h3>
    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>
</div>
